<select (change)="onChange($event.target.value)">
  <option value="allKegs">All Beer</option>
  <option value="cheepBeer">Cheep Beer</option>
  <option value="expensiveBeer" selected="selected">Expensive Beer</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Brewer</th>
      <th>Price</th>
      <th>Alcohol Content</th>
      <th>Pints per Keg</th>
      <th *ngIf="childUser">Revenue</th>
      <th *ngIf="childUser">Edit</th>
    </tr>
  </thead>

  <tbody *ngFor="let keg of childKegList | price:filterByPrice">
    <tr [class]="priceColor(keg)">
      <td>
        {{keg.name}}
        <app-customer [keg]="keg" [customer]="customer" [childUser]="childUser"></app-customer>
      </td>
      <td>{{keg.brand}}</td>
      <td>${{keg.price}}.00</td>
      <td><span [class]="strengthColor(keg)">{{keg.strength}}%</span></td>
      <td>
        <span [class]="volumeChecker(keg)">{{keg.volume}}</span>
        <button class="btn btn-xs" *ngIf="childUser" (click)="sold(keg)" (click)="volumeChecker(keg)">Sold</button>
      </td>
      <td *ngIf="childUser">${{keg.revenue}}.00</td>
      <td>
        <button class="btn btn-xs" *ngIf="childUser" (click)="editButtonHasBeenClicked(keg)">Edit</button>
      </td>
      <td *ngIf="keg.edit">

        <app-edit-keg *ngIf="childUser" [childSelectedKeg]="keg"></app-edit-keg>

      </td>
    </tr>
  </tbody>
</table>
