<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container">
  <div class="jumbotron">
    <h1>The Bar <span *ngIf="!masterUser">(patron)</span><span *ngIf="masterUser">(employee)</span></h1>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Libation Offerings:</h4>

      <app-keg-list [childKegList]="masterKegList" [childUser]="masterUser"  (clickSender)="editKeg($event)" [customer]="customer"></app-keg-list>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" *ngIf="!user">
      <h4>Your wallet: ${{customer.wallet}}.00</h4>
      <h1>Drunk-O-Meter: {{customer.drunkenness}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br><button (click)="userChange()" class="btn btn-sm">User</button><br><br>
      <div *ngIf="masterUser">

        <app-new-keg [childKegList]="masterKegList"></app-new-keg>

      </div>
    </div>
  </div>
</div>
